@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.flexbox {
  display: flex;
}

.grid-flow {
  display: grid;
}

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
}

body {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.5;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  align-content: start;
}

.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}
.header .navbar {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
.header .menu-close-btn {
  align-self: flex-end;
  background: 0;
}
.header .navigation li {
  list-style: none;
}
.header .navigation-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.header .navigation-link span {
  font-weight: bold;
}
.header .menu-btn {
  background: 0;
}

.main {
  justify-items: center;
  justify-self: center;
  text-align: center;
  width: 90%;
  padding-bottom: 2em;
}
.main .info-section {
  animation: fade 0.5s;
}
.main img {
  animation: fade 0.5s;
}

@media (max-width: 500px) {
  .navbar {
    position: fixed;
    padding: 2.5em 2em;
    gap: 4em;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 70%;
    right: -100%;
    transition: right 0.3s;
  }
  .navbar.open {
    right: 0;
  }
  .navigation {
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
  }
  .navigation-link {
    gap: 0.5em;
  }
}
@media (min-width: 500px) {
  .header {
    padding: 0;
    padding-left: 2em;
  }
  .header .navigation {
    justify-content: space-between;
    padding: 0 3em;
    font-size: 0.875em;
    gap: 2em;
  }
  .header .navigation-link {
    padding: 3em 0;
  }
  .header .navigation-link::after {
    content: "";
    transform: scaleX(0);
    width: 0;
    background-color: #D0D6F9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: transform 0.3s;
  }
  .header .navigation-link:hover::after {
    transform: scaleX(1);
  }
  .header .navigation-link.active::after {
    transition: 0.3s;
    transform: scaleX(1);
    content: "";
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
  }
  .header .navigation-link span {
    display: none;
  }
  .header .menu-btn, .header .menu-close-btn {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 2em 0 2em 2.5em;
  }
  .header .line {
    position: absolute;
    left: 10%;
    height: 0.5px;
    background-color: #D0D6F9;
    opacity: 50%;
    width: 37%;
    z-index: 2;
  }
  .header .navigation {
    padding: 0 12em 0 8em;
    font-size: 1em;
    gap: 3em;
  }
  .header .navigation-link {
    gap: 0.5em;
    padding: 2em 0;
  }
  .header .navigation-link span {
    display: block;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
body {
  background: url("../../assets/technology/background-technology-mobile.jpg") no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  gap: 2em;
}
.main h1 {
  text-transform: uppercase;
  font-weight: 400;
  gap: 1em;
  font-size: 1em;
  letter-spacing: 2.7px;
}
.main h1 span {
  color: rgba(208, 214, 249, 0.25);
}
.main .technology-img {
  width: 100%;
}
.main .technology-img-desktop {
  display: none;
}
.main .container {
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.main .container .button-container {
  width: 152px;
  justify-content: space-between;
}
.main .container .navigation-btn {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgba(208, 214, 249, 0.25);
  background-color: transparent;
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: 1em;
}
.main .container .navigation-btn.active {
  background-color: #fff;
  color: black;
}
.main .container .info-section {
  gap: 0.5em;
}
.main .container .info-section h3, .main .container .info-section h2 {
  font-weight: 400;
  text-transform: uppercase;
}
.main .container .info-section h3 {
  color: #D0D6F9;
  font-size: 0.875em;
  letter-spacing: 2.36px;
}
.main .container .info-section h2 {
  font-family: "Bellefair", serif;
  font-size: 1.5em;
}
.main .container .info-section p {
  font-family: "Barlow";
  color: #D0D6F9;
  width: 40ch;
  font-size: 0.9375em;
  line-height: 25px;
}

@media (min-width: 500px) {
  .wrapper {
    gap: 2em;
  }
  body {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .main {
    gap: 3em;
  }
  .main h1 {
    justify-self: start;
    padding-left: 2em;
    font-size: 1.25em;
    letter-spacing: 3.38px;
  }
  .main .container .button-container {
    width: 210px;
  }
  .main .container .button-container .navigation-btn {
    width: 60px;
    transition: border-color 0.3s;
    font-size: 1.5em;
    letter-spacing: 1.5px;
  }
  .main .container .button-container .navigation-btn:hover {
    border-color: #fff;
  }
  .main .container .info-section h3 {
    font-size: 1em;
    letter-spacing: 2.7px;
  }
  .main .container .info-section h2 {
    font-size: 2.5em;
  }
  .main .container .info-section p {
    font-size: 1em;
    line-height: 28px;
    width: 55ch;
  }
}
@media (min-width: 1280px) {
  body {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
  .main {
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "h1 h1" "container tech-img" "container tech-img";
    padding-left: 10%;
    gap: 0;
  }
  .main h1 {
    padding: 0;
    grid-area: h1;
  }
  .main .technology-img {
    display: none;
  }
  .main .technology-img-desktop {
    display: block;
    grid-area: tech-img;
    width: 80%;
    justify-self: end;
  }
  .main .container {
    flex-direction: row;
    grid-area: container;
    gap: 6em;
  }
  .main .container .button-container {
    height: 300px;
    flex-direction: column;
    width: unset;
  }
  .main .container .button-container .navigation-btn {
    width: 80px;
    font-size: 2em;
    letter-spacing: 2px;
  }
  .main .container .info-section {
    justify-items: start;
    gap: 1em;
  }
  .main .container .info-section h2 {
    font-size: 3.5em;
  }
  .main .container .info-section p {
    font-size: 1.125em;
    text-align: left;
    line-height: 32px;
  }
}/*# sourceMappingURL=technology.css.map */